/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2015, 9:11:31 PM
    Author     : john
*/

.player-icon {
    -fx-font-size: 20pt;
    -fx-font-family: "Serif";
    -fx-padding: 5;
    -fx-background-color: #FFFFFF;
    -fx-border-color: blue ;
    -fx-border-width: 2 ; 
}

.score-board {
    -fx-padding: 10;
    -fx-margin: 10;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #d1bebe;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

